/* ------------------- */
/* Layout              */
/* ------------------- */

/* Header */
.primary-header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl( var(--clr-dark) / 0.95);
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    background: hsl( var(--clr-white) / .25);
    order: 1;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl( var(--clr-white) / 1);
  border-color: hsl( var(--clr-white) / 1);
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: .5em;
  background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl( var(--clr-white) / 1);
}

.numbered-indicators {
  flex-direction: row;
}

@media (min-width: 45em) {
  .numbered-indicators {
    flex-direction: column;
  }
}

.numbered-indicators > * {
  cursor: pointer;
  border: 1px solid hsl( var(--clr-white) / .25);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: grid;
  place-items: center;
  background-color: transparent;
  color: hsl( var(--clr-white) );
  font-family: var(--ff-serif);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 35em) {
  .numbered-indicators > * {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
  }
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus {
  border-color: hsl( var(--clr-white) / .5);
}

.numbered-indicators > [aria-selected="true"] {
  background-color: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
}

/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */
body {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

/* home */
.home {
  background-image: url(../assets/home/background-home-mobile.jpg);
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
}

/* destination */
.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35em) {
  .destination {
    background-position: center center;
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }
}

/* crew */
.crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 35em) {
  .crew {
    background-position: center center;
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
}

/* technology */
.technology {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 35em) {
  .technology {
    background-position: center center;
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .technology {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
}
